<div class="menu">
    <div class="menu-logo transition-all">
        <a href="{{home}}">
            <img src="{{logo}}" alt="logo" class="transition-all"/>
        </a>
    </div>
    <i id="menu-switch" class="menu-switch fa fa-bars"></i>
    <nav id="menu-list" class="menu-list transition-all" style="height:0">
        {{#each items}}
            <a href="{{href}}"><i class="fa fa-{{icon}}"></i> {{title}}</a>
        {{/each}}
    </nav>
</div>