<div class="menu">
    <a class="menu-logo transition-all" href="{{home}}">
        <img src="{{logo}}" alt="logo" class="transition-all"/>
    </a>
    <i id="menu-switch" class="menu-switch fa fa-bars"></i>
    <nav id="menu-list" class="menu-list transition-all">
        {{#each items}}
            <a href="{{href}}"><i class="fa fa-{{icon}}"></i> {{title}}</a>
        {{/each}}
    </nav>
</div>